BOT_TOKEN=YOUR_BOT_TOKEN_FROM_BOTFATHER
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME
REDIS_DB=0

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bot_converter
POSTGRES_USER=bot_converter
POSTGRES_PASSWORD=CHANGE_ME

YOOKASSA_PROVIDER_TOKEN=
SUB_PRICE_RUB_KOPEKS=15000
SUB_PRICE_STARS=100
SUB_PAYLOAD=sub_unlimited_month


